
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/images/carusel-1.png" class="d-block w-100" alt="..." style="height: 550px; ">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="font-family:'Copperplate'">¡Bienvenidos a La Casa de la Mascota!</h1>
            <p style="font-family:'Copperplate'">En La Casa de la Mascota, entendemos que tus queridas mascotas son parte de tu familia. Nuestro equipo de veterinarios apasionados está comprometido en brindarles la mejor atención médica y amorosa posible.</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/images/carusel-2.png" class="d-block w-100" alt="..." style="height: 550px; ">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="font-family:'Copperplate'">Descubre el Cuidado Excepcional en La Casa de la Mascota</h1>
            <p style="font-family:'Copperplate'">Desde cirugías y tratamientos avanzados hasta consejos de prevención, ofrecemos una gama completa de servicios para asegurarnos de que tus compañeros peludos reciban la atención que merecen.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="../../assets/images/carusel-3.png" class="d-block w-100" alt="..." style="height: 550px; ">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="font-family:'Copperplate'">Tu Socio Confiable en Salud y Felicidad Animal</h1>
            <p style="font-family:'Copperplate'">La Casa de la Mascota Veterinaria es mucho más que un centro médico para animales; somos tu socio en el viaje de cuidado y amor hacia tus mascotas. Nuestro equipo altamente calificado de veterinarios comprende la importancia de la salud animal en la vida familiar. Ya sea que estés buscando un chequeo de rutina, tratamientos especializados o simplemente consejos sobre cómo mantener a tus peludos amigos felices, estamos aquí para brindarte soluciones personalizadas y comprensivas. </p>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
